{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}

{% if user.is_authenticated %}
  <div class="container">
    <div class="card">
      <br><br>
      <div class="row" style="padding-left: 2rem;">
        <div class="col s5">
          <div class="input-field">
            <input type=text name="from_date" id="start_date" class="datepicker">
            <label for="start_date">From</label>
          </div>
        </div>
        <div class="col s5">
          <div class="input-field">
            <input type=text name="to_date" id="end_date" class="datepicker">
            <label for="end_date">To</label>
          </div>
        </div>
        <div class="col s2">
          <button style="margin-top: 1.5rem;" class="btn" onclick="date_filter()">Search</button>
        </div>
      </div>

      <div class="container"><br><br><br>

        

<script>
window.onload = function () {
  
  sensor_dataPoints = []
  hr_dps = []
  raw_sensor_data = {{sensor_data}}
  sensor = `{{d}}`


  for (let index = 0; index < raw_sensor_data.length; index++) {
    sensor_dataPoints.push({ x: raw_sensor_data[index][0], y: raw_sensor_data[index][1] })
  }

  
  if(sensor == 'btemp'){
    chart_title = "Body Temperature Historical Data"
    axisY2_title = "Body Temperature (°C)"
    data_name = "Body Temperature"
    data_yValueFormatString = "##.## °C"
  } else {
    chart_title = "Heartbeat Rate Historical Data"
    axisY2_title = "Heartbeat Rate (BPM)"
    data_name = "Heartbeat Rate"
    data_yValueFormatString = "# BPM"
  }

var chart = new CanvasJS.Chart("chartContainer", {
	title: {
		text: chart_title
	},
	axisX: {
		valueFormatString: "MMM YYYY"
	},
	axisY2: {
		title: axisY2_title,
	},
	toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		verticalAlign: "top",
		horizontalAlign: "center",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [{
		type:"line",
		axisYType: "secondary",
		name: data_name,
		showInLegend: true,
		markerSize: 0,
    xValueType: "dateTime",
    xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: data_yValueFormatString,
		dataPoints: sensor_dataPoints
	}]
});
chart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
  document.getElementsByClassName('canvasjs-chart-credit')[0].style.visibility = "hidden";
}

}


</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>

<br>
<a href="?d=btemp&sd=-&ed=-" class="left btn">Body Temperature</a>
<a href="?d=hr&sd=-&ed=-" class="right btn">Heartbeat Rate</a>
        
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
  
  $(document).ready(function(){
    $('.datepicker').datepicker(
      {format: 'dd-mm-yyyy'}
    );
  });
</script>

<script>
  function date_filter(){
    start_raw = document.getElementById('start_date').value
    end_raw = document.getElementById('end_date').value
    if ((start_raw == "") || (end_raw == "")){
      alert("Please fill the date range")
    } else {
      url = `http://54.166.105.47:9999/historical_data/?d=${sensor}&sd=${start_raw}&ed=${end_raw}`
      window.open(url,"_self")
    }
  }
</script>
      </div>
      <br><br><br>
    </div>
  </div>

{% else %}
  <section class="section section-login">
    <div class="container center">
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-4">
            <h2 class="center">Remote Monitoring of Vital Signs</h2>
            <h2><a class="btn" href="{% url 'account_login' %}">Log In</a> | <a class="btn" href="{% url 'account_signup' %}">Sign Up</a></h2>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endif %}

{% endblock %}
